@model IEnumerable<EstoqueLab.UI.Models.Produto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Produtos</h1>


<a class="btn btn-sm btn-dark justify-content-end" style="float:right" href="/Produto/Create" role="button">
    <i class="fas fa-plus-circle"></i> Cadastrar Produto
</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Valor
            </th>
            <th>
                Categoria
            </th>
            <th>
                Ativo
            </th>
            <th>
                Data Criação
            </th>
            <th>
                Data Atualização
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CriadoEm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AtualizadoEm)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
