@model IEnumerable<EstoqueLab.UI.Models.Produto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Produtos</h1>


<a class="btn btn-sm btn-dark justify-content-end" style="float:right; margin:5px;" href="/Categoria" role="button">
    <i class="fa-solid fa-list-check"></i> Categorias
</a>
<a class="btn btn-sm btn-dark justify-content-end" style="float:right; margin:5px;" href="/Produto/Create" role="button">
    <i class="fas fa-plus-circle"></i> Cadastrar Produto
</a>
<div class="row">
    @if (@TempData["sucesso_produto_lista"] != null)
    {
        <span style="color:green; text-align:center;">
            <strong>Sucesso!</strong> @TempData["sucesso_produto_lista"]
        </span>
    }
    @if (@TempData["erro_produto_lista"] != null)
    {
        <span style="color:red; text-align:center;">
            <strong>Error!</strong> @TempData["erro_produto_lista"]
        </span>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Valor
            </th>
            <th>
                Categoria
            </th>
            <th>
                Ativo
            </th>
            <th>
                Data Criação
            </th>
            <th>
                Data Atualização
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CriadoEm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AtualizadoEm)
                </td>
                <td>
                    <a class="btn btn-sm btn-danger justify-content-end" style="float:right; margin:5px;" href="/Produto/Delete?Key=@(item.Key)" role="button">
                        <i class="fa-solid fa-trash"></i> Excluir
                    </a>
                    <a class="btn btn-sm btn-secondary justify-content-end" style="float:right; margin:5px;" href="/Produto/Edit?Key=@(item.Key)" role="button">
                        <i class="fa-solid fa-pen-to-square"></i> Editar
                    </a>
                    <a class="btn btn-sm btn-light justify-content-end" style="float:right; margin:5px;" href="/Produto/Details?Key=@(item.Key)" role="button">
                        <i class="fa-solid fa-circle-info"></i> Detalhes
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
